body {
    min-height: 75rem;
    text-align:center;
	height: 100%;
    }
        
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #ff0002;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    
  .imagesize{
      width: 400px;
      height: 400px;
  }
 

.jumbotron{
    margin-top:100px;
    background-color:rgb(253, 253, 252);
    text-align:center;
    color: black;
    margin-bottom: 0px;
    height: 350px;
    
}
.colborder{
    border-left:0.5px solid black;
    border-right:0.5px solid black;
}
.leadingmovie{
    font-size: 30px;
  padding:50px 0px;
  margin-top:50px;
  margin-bottom: 10px;
  font-weight: bolder;
  
}
.leadingrowtop{
    margin-top: -100px;
}
.cctv{
    width: 40px;
    height: 40px;
}
.illustration{
	width:400px;
	height:400px;
}
.title {
    line-height: 1.33;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #223464;
	margin-bottom: 5px;
}
.space-50 {
    height: 50px;
    display: block;
}
h2, .h2 {
    font-size: 44px;
}
.section-do .info {
    text-align: center;
    margin-top: 60px;
}
.section-do .info {
    text-align: center;
    margin-top: 60px;
}
.movie1{
	width:400px;
	height:400px;
}
.meetourteam{
  font-size: 30px;
  padding:50px 0px;
  margin-top:50px;
  margin-bottom: 10px;
  font-weight: bolder;
  border: 2px solid red;
}
.teamheader{
    font-size:20px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    float: center;
    background: #22252b;
    color:white;
    margin-top:40px;
  }
.save_button {      
    min-width: 100px;
    max-width: 100px;
}
.navbar-collapse{
    margin-left: 500px;

}
